.search {
    text-align: center;
}

.search_button {
    width: 200px;
}

.container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 100%;
}

.recipe_div {
    border: solid black 2px;
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.recipe_img {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    display: block;
}

.recipe_heading {
    text-align: center;
}