#favorite-home {
    font-size: 50px;
    color: hsl(0, 73%, 42%);
    margin: 10px;
}

.red {
        color: hsl(0, 73%, 42%)!important;
}

h1 {
    text-align: center;
}


/******************************** recipes styles ********************************/

.pag_btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pag_btns i {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 100%;
}

.modal {
    margin-top: 10px;
}

.modal-content {
    margin: 20px;
    padding: 15px 25px 25px 25px;
    border: 2px solid black;
}

.recipe_div {
    border: solid black .5px;
    width: 160px;
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 10px;
    flex-wrap: wrap;

}

.recipe_img {
    width: 100%;
    max-width: 160px;
    margin: auto;

}

.recipe_heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.fa-heart{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 15px;
    color: gray;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    /* color: hsl(0, 73%, 42%); */

}

.image-container {
    position: relative;
}
