<h1>Nom Nom Recipes</h1>


<div class="search">
  <input [(ngModel)]="searchInput" class="searchInput" type="text" placeholder="Search for a recipe"/>
  <button (click) = 'filterRecipes()' type="button" class="btn btn-primary">Search</button>

  <br />
  
  <label for="numberIngr">Number of ingredients preferred</label>
  <select id="numberIngr" [(ngModel)]= 'numberIngr' class="subFilter">
    <option value="2+">Any</option>
    <option value="2-5">2-5 ingredients</option>
    <option value="6-10">6-10 ingredients</option>
    <option value="11+">11 or more</option>

  </select>

  <label for="health">Health</label>
  <select id="health" [(ngModel)]= 'health' class="subFilter">
    <option value="alcohol-free">Any</option>
    <option value="vegan">Vegan</option>
    <option value="peanut-free">Peanut-free</option>
    <option value="vegetarian">Vegetarian</option>

  </select>

</div>

<div class="favorite-container">
<div class= "favorite" *ngFor='let favorite of favorites'>
    <p>Favorite</p>
    <h1 class='recipe_heading'>{{favorite.favorite.label}}</h1>
    <a href={{recipe.recipe.url}}><img class='recipe_img' src={{recipe.recipe.image}} alt=""></a>
  </div>
</div>

<div class="container">
  <div class="recipe_div"  *ngFor='let recipe of recipes; let i = index'>
  <h1 class='recipe_heading'>{{recipe.recipe.label}}</h1>
  <p>{{recipe.recipe.calories}}</p>



  <!-- <div>
    <a href={{recipe.recipe.url}}>
      <img class='recipe_img' src={{recipe.recipe.image}} alt="">
    </a>
  </div> -->

  


  <!-- <ul>
    <li *ngFor = 'let ingredient of recipe.recipe.ingredientLines'>{{ingredient}}</li>
  </ul> -->
  <div class="image-container">

  <a href={{recipe.recipe.url}}><img class='recipe_img' src={{recipe.recipe.image}} alt=""></a>

  <i class="fa fa-heart" (click)= "addFavorite(i)"  [ngClass] = "{'red': recipe.bookmarked === true}"></i>
  <!-- <i class="fa fa-heart"></i> -->
  </div>  

  <button>More Info</button>


</div>


</div>


