<h1>Nom Nom Recipes</h1>

<div class="search">
  <input [(ngModel)]="searchInput" class="searchInput" type="text" placeholder="Search for a recipe"/>
  <button (click) = 'filterRecipes()' type="button" class="btn btn-primary">Primary</button>

  <br />
  
  <select [(ngModel)] = 'caloriesRange' class="subFilter">
      <option value="1+">Any</option>
      <option value="0-499"> Less than 500 calories</option>
    <option value="500-999">500-999 calories</option>
    <option value="1-1.4">800-1,499 calories</option>
    <option value="1.5">1,500+ calories</option>
  </select>

  <select  [(ngModel)]= 'health' class="subFilter">
    <option value="alcohol-free">Alcohol-free</option>
    <option value="vegan">Vegan</option>
    <option value="peanut-free">Peanut-free</option>
    <option value="vegetarian">Vegetarian</option>
  </select>

  <select class="subFilter">
    <option value="calories">Time</option>
    <option value="small">0-15 minutes</option>
    <option value="medium">15-30 minutes</option>
    <option value="large">1 hour</option>
    <option value="large">2 hours and above</option>
  </select>
</div>

<div class="favorite-container">
<div class= "favorite" *ngFor='let favorite of favorites'>
    <p>Favorite</p>
    <h1 class='recipe_heading'>{{favorite.favorite.label}}</h1>
    <a href={{recipe.recipe.url}}><img class='recipe_img' src={{recipe.recipe.image}} alt=""></a>
  </div>
</div>

<div class="container">
  <div class="recipe_div"  *ngFor='let recipe of recipes; let i = index'>
  <h1 class='recipe_heading'>{{recipe.recipe.label}}</h1>
  <!-- <ul>
    <li *ngFor = 'let ingredient of recipe.recipe.ingredientLines'>{{ingredient}}</li>
  </ul> -->
  <div class="image-container">
  <a href={{recipe.recipe.url}}><img class='recipe_img' src={{recipe.recipe.image}} alt=""></a>

  <i class="fa fa-heart" (click)= "addFavorite(i)"  [ngClass] = "{'red': recipe.bookmarked === true}"></i>
  <!-- <i class="fa fa-heart"></i> -->
  </div>  
  <!-- <p>Health labels: {{ recipe.recipe.healthLabels }}</p> -->

  
  <p>Time to Prepare: {{ recipe.recipe.totalTime }} minutes</p>
  <p>Calories: {{ recipe.recipe.calories | number: '1.0-0'}}</p>
  <!-- <button class= "favorite">Favorite</button> -->
</div>


</div>


