<!-- <div *ngIf="event"> -->

<h1>Favorite Recipes</h1>
<i class="fa fa-home"
routerLink="/" 
routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }">
</i>

<div class="favorite-container">

 
  <div class= "favorite" *ngFor='let favorite of favorites'>
      <p>Favorite</p>
      
      <h1 class='favorite_recipe_heading'>{{favorite.recipe.label}}</h1>
  
      <a href={{favorite.recipe.url}}><img class='favorite_recipe_img' src={{favorite.recipe.image}} alt=""></a>
    
      <i class="fa fa-heart" (click)= "addFavorite()"  [ngClass] = "{'red': recipe.bookmarked === true}"></i>
     
    
      <button>More Info</button>

    </div>


</div>