h1 {
    text-align: center;
}

.favorites-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 100%;
}

.modal {
    margin-top: 10px;
}

.favorites-recipe_div {
    border: solid black .5px;
    width: 160px;
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 10px;
    flex-wrap: wrap;

}

.favorites-recipe_img {
    width: 100%;
    max-width: 160px;
    margin: auto;

}

.favorites-recipe_heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.fa-heart{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 15px;
    color: gray;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    /* color: hsl(0, 73%, 42%); */

}

.favorites-image-container {
    position: relative;
}