<h1 routerLink="/" 
routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }">Nom Nom Favorites</h1>

<i class="fa fa-home"
  routerLink="/" 
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }">
  </i>




<h1>Favorites</h1>

<div class="favorites-container">
  
  <div class="favorites-recipe_div"  *ngFor='let favorite of favorites; let i = index'>
    <i class="fa fa-heart" (click)= "addFavorite(i)"  [ngClass] = "{'red': favorite.bookmarked === true}"></i>
    <h1 class='favorites-recipe_heading'>{{favorite.recipe.label}}</h1>

    <a href={{favorite.recipe.url}}><img class='favorites-recipe_img' src={{favorite.recipe.image}} alt=""></a>
      
   
</div>
  
    

