/******************************** header styles ********************************/
h1 {
    text-align: center;
    cursor: default;
}

/******************************** recipes styles ********************************/

.favorites-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 100%;
}

.favorites-recipe_div {
    border: solid black .5px;
    width: 160px;
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 10px;
    flex-wrap: wrap;
}

.favorites-recipe_heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.favorites-image-container {
    position: relative;
}

.favorites-recipe_img {
    width: 100%;
    max-width: 160px;
    margin: auto;
}

.fa-heart{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 15px;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    /* color: hsl(0, 73%, 42%); */
    color: gray;
}

.red {
    color: hsl(0, 73%, 42%)!important;
}

/******************************** modal styles ********************************/
.modal {
    margin-top: 10px;
}

.modal-content {
    padding: 15px 25px 25px 25px;
    border: 2px solid black;
}